.display{
  display:flex
}
.hidden{
  display:none
}
div {
  border: 1px solid black;
}
.etoile p {
  position:absolute;
}
img {
  position: relative;
}
.bloc {
  display: flex;
  flex-wrap: 37%;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-around;
}
.partie{
  width: 30%;
}